{% for shooting in shootings %}
    <div class="shooting-myitem col-4">
        <a href="{{ path('show_shooting', {'id': shooting.id}) }}">
            <div class="shooting-myitem-image mySwiper">
                <div class="swiper-wrapper">
                {# Afficher une image par défaut si le shooting n'en contient pas  #}
                {% if shooting.shootingImages | length > 0 %}
                    {% set class = (shooting.shootingImages | length == 1) ? "" : "swiper-slide" %}
                    {% for img in shooting.shootingImages %}
                        <img class="{{ class }}" src="{{ asset('uploads/images/' ~ img.url) }}" alt="">
                    {% endfor %}
                {% else %}
                    <img class="swiper-slide" src="{{ asset('img/not-available.jpg') }}" alt="">
                {% endif %}
                {# badge nouveau photographe (inscription -30 jours) #}
                </div>
            
                {% if shooting.owner.isNew %}
                <div class="new-photographer">
                    <i class="fa-solid fa-certificate" title="New Photographer !"></i>
                </div>
                {% endif %}
                <div class="overlay"></div>

                {% if shooting.shootingImages | length > 1 %}
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                {% endif %}
            </div>
        </a>
        {# Informations du shooting (titre, prix, likes, comments, packages) #}
        <div class="shooting-myitem-text">
            <div class="title-favorite">
                {# title #}
                <a class="" href="{{ path('show_shooting', {'id': shooting.id }) }}">{{ shooting.title}}</a>
                <div class="right">
                    {# nbLikes #}
                    <a href="{{ path('shooting_like', {'id': shooting.id }) }}" class="js-like">
                        {% if app.user and shooting.isLikedByUser(app.user) %}
                            <i class="fa-solid fa-heart red-heart"></i> 
                        {% else %}    
                            <i class="fa-regular fa-heart gray-heart"></i> 
                        {% endif %}
                        <span class="js-likes">
                            {{ shooting.shootingLikes | length }}
                        </span>
                    </a>
                    
                    {# nbComments #}
                    <a href="">
                        <i class="fa-solid fa-comment-dots"></i> {{ shooting.shootingComments | length }}
                    </a>
                </div>
            </div>
            <div class="owner-comments">
                {# pseudo #}
                <span>@{{ shooting.owner.pseudo }}</span>
            </div>
            <div class="price-packages">
                {# price #}
                <span class="packages-from">From <strong>${{ shooting.price }}</strong></span>
                {# nbPackages #}
                <span class="countPackages">{{ shooting.packages | length }} package{{ shooting.packages | length > 1 ? "s" : "" }}</span>
            </div>
        </div>
        {# Donner la possibilité d'éditer un shooting si on en est le propriétaire #}
        {% if shooting.owner.id == app.user.id %}
        <div class="shooting-card-edit">
            <a href="{{ path('edit_shooting', {'id': shooting.id}) }}"><i class="fa-solid fa-sliders"></i></a>
        </div>
        {% endif %}
    </div>
{% endfor %}
</div>
<div class="pagination">
    {{ knp_pagination_render(shootings) }}
</div>