<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
        
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
            <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
            <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            {% set class = (app.user) ? "logged" : "" %}
            <nav class="{{ class }}">
                <div class="logo">
                    <a href="{{ path('app_home') }}">
                        <i class="fa-solid fa-panorama"></i> PhotoBook <br>
                        <span>Your favorite shootings booking</span>
                    </a>
                </div>
                <div class="links">
                    <ul>
                    {% if app.user %}
                        {% if is_granted('ROLE_PHOTOGRAPHER') %}
                            <li class=""><a href="{{ path('app_user') }}">My Shootings</a></li>
                            <li><a href="{{ path('app_shooting_book') }}">My Requests</a></li>
                            <li class="add-shooting"><a href="{{ path('add_shooting') }}">Add Shooting</a></li>
                        {% endif %}
                        <li><a href="{{ path('app_logout') }}"><i class="fa-solid fa-power-off red"></i></a></li>
                    </ul>
                    {% else %}
                        <li><a href="{{ path('app_register') }}">Register</a></li>
                        <li><a href="{{ path('app_login') }}"><i class="fa-solid fa-power-off green"></i></a></li>
                    </ul>
                    {% endif %} 
                </div>
                
                <!-- Menu burger -->
                <div class="burger"><i class="fa-solid fa-burger"></i></div>
                <div id="myNav" class="menuOverlay">
                    <a href="javascript:void(0)" class="closebtn">&times;</a>
                    <div class="overlay-content">
                    {% if app.user %}
                        {% if is_granted('ROLE_PHOTOGRAPHER') %}
                            <a href="{{ path('app_user') }}">My Shootings</a>
                            <a href="{{ path('app_shooting_book') }}">My Requests</a>
                            <a href="{{ path('add_shooting') }}">Add Shooting</a>
                        {% endif %}
                        <a href="{{ path('app_logout') }}"><i class="fa-solid fa-power-off red"></i></a>
                    {% else %}
                        <a href="{{ path('app_register') }}">Register</a>
                        <a href="{{ path('app_login') }}"><i class="fa-solid fa-power-off green"></i></a>
                    {% endif %} 
                    </div>
                </div>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>
        
        {% if app.user %}
        <footer>
            <p>&copy; Micka - PhotoBook</p>
        </footer>
        {% endif %}
        
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script
                src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous">
        </script>
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
            tinymce.init({
                selector: 'textarea',
                themes: 'modern',
                setup: function (editor) {
                    editor.on('change', function (e) {
                        editor.save();
                    });
                }
            });
        </script>
        
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js" integrity="sha256-XCdgoNaBjzkUaEJiauEq+85q/xi/2D4NcB3ZHwAapoM=" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
        
        {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
        <script src="{{ asset('js/script.js') }}"></script>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

        <script>
            // When the user scrolls the page, execute myFunction
            window.onscroll = function() {stickyNav()};
            // Get the navbar
            var navbar = document.querySelector("nav");
            // Get the offset position of the navbar
            var sticky = 250;
            // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
            function stickyNav() {

                if(window.pageYOffset === 0) {
                    navbar.classList.remove("sticky");
                } else {
                    if (window.pageYOffset >= sticky) {
                        navbar.classList.add("sticky")
                    } else {
                        navbar.classList.remove("sticky");
                    }
                }
            }
        </script>
    </body>
</html>
